# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Gradle
.gradle/
build/

# Kotlin
*.iml

# IntelliJ / Android Studio
.idea/
*.iws
*.ipr

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp

